.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__info
      .Chat-main__group-info__info__name
        = @group.name
      .Chat-main__group-info__info__member
        Member
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group) , class: "Chat-main__group-info__edit" do
      Edit 
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Chat-main__message-form__form"}, local: true do |f|
      .Chat-main__message-form__form__type
        = f.text_field :content, class: 'Chat-main__message-form__form__type__text', placeholder: "type a message"
        = f.label :image, class: 'Chat-main__message-form__form__type__image' do
          = icon('fas', 'image' , class: "Chat-main__message-form__form__type__image__a" )
          = f.file_field :image, class: 'Chat-main__message-form__form__type__image__b'
      =f.submit 'Send', class: 'Chat-main__message-form__form__send'
