.Side-bar
  .Side-bar__user
    .Side-bar__user__info
      %h3.Side-bar__user__info__name 
        = current_user.name
      %ul.Side-bar__user__info__icon
        %li.Side-bar__user__info__icon__edit
          =link_to new_group_path(current_user) do
            = icon('far', 'edit', class: 'edit')
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__group
        = link_to group_messages_path(group) do
          .Side-bar__group-list__group__name 
            = group.name
          .Side-bar__group-list__group__message 
            = group.show_last_message
